@import "./variables.module.css";

.container {
  margin: 0 auto;
  max-width: var(--containerMaxWidth);
  padding: 0px 30px 30px;
  padding-top: 0;
  overflow: hidden;
  min-height: calc(100vh - 268px);
}

@media all and (min-width:860px) {

  .container {
    padding: 0;
  }
}