@import "./variables.module.css";

.footer {
    background: var(--primaryColor);
    color: var(--primaryColorNegative);
    padding: 50px var(--layoutMargin);
    text-align: center;
}

.copyright {
    display: block;
}

.social {
    margin: 0 auto 30px;
}

.social a {
    margin: 0 15px;
}