@import "./variables.module.css";

.header {
    margin: 0;
    padding: var(--layoutMargin);
    color: var(--baseTextColor);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.container {
    margin: 0 auto;
    max-width: var(--containerMaxWidth);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	align-items: center;
	align-content: center;
}

.link {
    color: var(--baseTextColor);
    text-decoration: none;
}

.h1 {
    margin: 0;
    font-weight: 300;
    font-size: 1.5rem;
}