:root {
    --fontFamily: 'PT Sans', arial, sans-serif;
    --fontFamilySerif: 'Noto Serif', serif;
    --primaryColor: #44A7BA;
    --primaryGradient: linear-gradient(to right, #3f94d4 0%,#49bd9c 100%);
    --primaryColorNegative: #fff;
    --baseTextColor: #333;
    --containerMaxWidth: 800px;
    --layoutMargin: 30px;
}